<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Lista de Usuários</li>
    <li id="li-postion" class="form-group col-md-3">
      <input type="text" class="form-control"  placeholder="Pesquise aqui um Nome na Lista" [(ngModel)]="sort">
    </li>
  </ol>
</nav>

<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de carros</h5>
    <div class="card-body">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Email</th>
              <th scope="col">Sexo</th>
              <th scope="col">Endrereço de Ip</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | filter:sort">
              <td><strong>{{user.id}}</strong></td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.email}}</td>
              <td>
                {{user.gender}}
                <img *ngIf="user.gender == 'Female'" src="../assets/icon/female.png">
                <img id="male-position" *ngIf="user.gender == 'Male'" src="../assets/icon/male.png">
              </td>
              <td>{{user.ip_address}}</td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>